<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://sub.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/estilomenu.css">
	</head>
	<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	<nav id="navbar" class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  
    <span class="navbar-toggler-icon"></span>
    
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
   <ul class="navbar-nav mr-auto">
	    
	       <li class="nav-item">
	       <img src="../images/admin-ui.png">
	      </li>
	      
	   

	     <li class="nav-item">
	        <a class="navbar-brand" th:field="${usuario}" th:href="@{/usuario/{id_usuario}(id_usuario=${usuario.id_usuario})/listarCliente}" th:text="Cliente"></a>
	      </li>
	      <li class="nav-item">
	        <a class="navbar-brand" th:field="${usuario}" th:href="@{/usuario/{id_usuario}(id_usuario=${usuario.id_usuario})/listarCliente}" th:text="Factura"></a>
	      </li>
	      <li class="nav-item">
	        <a class="navbar-brand" th:field="${usuario}" th:href="@{/usuario/{id_usuario}(id_usuario=${usuario.id_usuario})/listarCliente}" th:text="DetalleFactura"></a>
	      </li>
	      <li class="nav-item">
	       <a class="navbar-brand" th:field="${usuario}" th:href="@{/usuario/{id_usuario}(id_usuario=${usuario.id_usuario})/listarCliente}" th:text="Despacho"></a>
	      </li>
	      
	      <li class="nav-item">
	      	<a class="navbar-brand" th:href="@{/usuario/ventas/{id_usuario}(id_usuario=${usuario.id_usuario})}" th:text="Ventas"><i class="navbar-brand"></i></a>
	      </li>
	       <li class="nav-item">
	      <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/}" th:text="Salir"><i class="fas fa-power-off"></i></a>
	      </li>
	     
	    </ul>
  </div>  
</nav>
	</nav>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<img src="../images/s.jpg" class="img-fluid" alt="Responsive image" >
	
	<img src="../images/vendedor.gif" class="img-fluid" alt="Responsive image" >
	<br><br>

		</div>  
	</div>
</body>
<footer>
</footer>
</html>
