<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title th:text="#{listarCategorias.titulo1}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/shards.min.css">
        <link rel="stylesheet" th:href="@{/css/brands.css}">
        <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
        <link rel="stylesheet" th:href="@{/css/solid.css}">
        <script th:src="@{/js/brands.js}"></script>
        <script th:src="@{/js/solid.js}"></script>
        <script th:src="@{/js/fontawesome.js}"></script>
    </head>
    <body>
    
   	<select class="custom-select" id="locales">
		<option selected th:text="#{language}"></option>
		<option value="es" th:text="#{language.spanish}"></option>
		<option value="en" th:text="#{language.english}"></option>
		<option value="en" th:text="#{language.aleman}"></option>
	</select>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <img src="../images/indice2.ico">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" th:field="${administrador}" th:href="@{/administrador/{dni}(dni=${administrador.dni})/listarcategoria}" th:text="#{index.AgregarCate}"></a>
	      </li>
	        <li class="nav-item">
	        <a class="nav-link" th:field="${administrador}" th:href="@{/administrador/{dni}(dni=${administrador.dni})/listarSubca}" th:text="#{index.AgregarSubca}"></a>
	      </li>
	      
	      <li class="nav-item">
	        <a class="nav-link" th:field="${administrador}" th:href="@{/administrador/{dni}(dni=${administrador.dni})/listarPais}" th:text="#{index.AgregarPais}"></a>
	      </li>
	      
	      <li class="nav-item">
	        <a class="nav-link"  th:field="${administrador}" th:href="@{/administrador/{dni}(dni=${administrador.dni})/listarDepartamento}" th:text="#{index.AgregarDepartamento}"></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" th:field="${administrador}" th:href="@{/administrador/{dni}(dni=${administrador.dni})/listarMunicipio}" th:text="#{index.AgregarMunicipio}"></a>
	      </li>
	      
	       <li class="nav-item">
	        <a class="nav-link"  th:field="${administrador}"  th:href="@{/administrador/{dni}(dni=${administrador.dni})/listarUsuario}" th:text="#{index.registrarusuario}"></a>
	      </li>
	          
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{index.btnbuscar}"></button>
	      <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/}" th:text="#{index.salir}"><i class="fas fa-power-off"></i></a>
	    </form>
	  </div>
	</nav>
    
        <div th:switch="${usuario}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null" th:text="#{listarUsu.aviso}"></h2>
                    <div th:case="*">
                        <h2 class="my-5" th:text="#{listarUsu.titulo}"></h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th th:text="#{listarUsu.dni}"></th>
                                    <th th:text="#{listarUsu.nombre}"></th>
                                    <th th:text="#{listarUsu.apellido}"></th>
                                    <th th:text="#{listarUsu.telefono}"></th>
                                    <th th:text="#{listarUsu.email}"></th>
                                    <th th:text="#{listarUsu.direccion}"></th>
                                    <th th:text="#{listarUsu.nombreUsu}"></th>
                                    <th th:text="#{listarUsu.editar}"></th>
                                    <th th:text="#{listarUsu.eliminar}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usus : ${usuario}">
                                    <td th:text="${usus.dni}"></td>
                                    <td th:text="${usus.nombre}"></td>
                                     <td th:text="${usus.apellido}"></td>
                                    <td th:text="${usus.telefono}"></td>
                                    <td th:text="${usus.email}"></td>
                                    <td th:text="${usus.direccion.descripcion}"></td>
                                    <td th:text="${usus.nombre_usuario}"></td>
                                    
                                    
                                     <td><a th:href="@{/administrador/{dni}(dni=${administrador.dni})/editUsuario/{id_usuario}(id_usuario=${usus.id_usuario})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/administrador/{dni}(dni=${administrador.dni})/deleteUsuario/{id_usuario}(id_usuario=${usus.id_usuario})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/administrador/{dni}(dni=${administrador.dni})/addusuario" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
                </div>
            </div>
        </div>
  <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#locales").change(function() {
				var selectedOption = $('#locales').val();
				if (selectedOption != '') {
					window.location.replace('?lang=' + selectedOption);
				}
			});
		});
	</script>
</body>
<footer>
</footer>
</html>
